// Custom layout styles

// Default font family
@font-face {
  font-family: 'gotham-rounded';
  src: url(gotham-rounded-medium.otf);
}

// Body background
.content-main {
  background-image: url(body_bg.png) !important;
  background-position: center !important;
  background-repeat: repeat-y;
  background-color: #000 !important;
  padding-top: 50px !important;
}

.cart-movie {
  padding-bottom: 5px !important;
}

.movie-link {
  color: #fff;
}

.edit-movie {
  padding: 0px;
}

.del-movie {
  padding: 0px;
}

.rent-list {
  padding: 0px;
}

.new-cart {
  padding: 0px;
}

.field-log {
  color: #fff;
  padding: -2px;
  margin: -2px;
}


.main-low-margin {
    text-align: justify;
    color: #fff;
}

.navbar-search {
  padding-top: 7px;
  font-size: 14px;
}

// Logo
.title-area{
  a { padding:0 !important }
  i {
    font-size: 30px;
    position: fixed;
    top: 2px;
  }
}

// Topbar items

.top-bar-section ul li { background: transparent }

// Forms
.form-container {
  background-color: #fff;
  padding: 3% 3%;
  .switch > div {
    position: relative;
    top: -5px;
  }
}

.field {
  width: 1150px;
  padding-top: 9px;
  color: #000;
}

.field h4 {
  color: #fff;
}

.nest-inline {
  display: inline-flex;
  width: 1150px;
  margin-top: 6px;
}

.nest-inline h6 {
  width: 50%;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 5px;
  text-align: right;
}

.nest-inline field {
  margin-right: 15px;
}

.field-log {
  width: 1150px;
  padding-top: 9px;
}

.check {
  color: #fff !important;
  padding-right: 10px;
  font-size: 10px;
}

.searchnest {
  color: #000;
  width: 1000px;
  margin-top: -15px;
  margin-bottom: 5px;
}

.nest {
  width: 100%;
}

.nest label {
  color: #fff;
}

.actions {
  color: #000;
}

.foot {
  text-align: center;
  color: #fff;
}
