<div class="content">
  <div><h4>Title : <%= @movie.title %></h4></div>
  <div><h4>Price : <%= @movie.price %></h4></div>
  <div><h4>Quantity : <%= @cart.quantity %></h4></div>
  <div><h4>Return At : <%= @cart.return_at %></h4></div>
</div>
