<h1>Movie Store</h1>

<p>
  Hi, just want to let you know that the movie with, <br/>
  Title : <%= @movie.title %> <br/>
  Receipt No. : <%= @cart.id %><br/>
  has passed the return time.
</p>

<p>
  Cheers,<br/><br/>

  Movie Store
</p>
