<h1>Movie Store</h1>

<p>
  <h4>Title : <%= @movie.title %></h4>
  <h4>Price : <%= @movie.price %></h4>
  <h4>Quantity : <%= @cart.quantity %></h4>
  <h4>Return At : <%= @cart.return_at %></h4>
  Enjoy your movie and thank you for choosing Movie Store.
</p>
